<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="site-header">
  <div class="header-row">
    <div class="header-logo">
      <!-- <img src="../c3log o4.svg" alt="C3CAD Logo"> -->
    </div>

    <nav class="header-nav">
      <ul>
        <li><a href="index">Start</a></li>
        <li><a href="cnc">cnc</a></li>
        <li><a href="example">Gallerie</a></li>
        <li><a href="impressum">Impressum</a></li>
      </ul>
    </nav>
  </div>
</header>

<h1>
  Schreinerei Carsten Hilbert
</h1>





<main>
  {{content}}
</main>

</body>


</html>
